@model IEnumerable<Labb3ApiWeb.Models.Link>

@{
    ViewData["Title"] = "Index";
}

<h1>Links</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persons.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@item.URL" class="text-decoration-none">@item.URL</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interests.InterestDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persons.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LinkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LinkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LinkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
